
@{
    ViewBag.Title = "Portfolio";
}

<section id="portfolio">
    <div class="container">
        <div class="center">
            <h2>Portfolio Projects</h2>
        </div>

        <ul class="portfolio-filter text-center">
            <li><a class="btn btn-default active" href="#" data-filter="*">All Works</a></li>
        </ul>
        <!--/#portfolio-filter-->
        <div class="row">
            <div class="portfolio-items">
                <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3 single-work">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/thumbnails/FED1StudioThumb.jpg" alt="Thumbnail for FED1StudioProject">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <a href="http://wgaccounting.jacobroelofsz.com" target="_blank" style="color: white;">FED1StudioProject<br />Click to open in new tab</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->
                <div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3 single-work">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/thumbnails/dungeonThumbnail.png" alt="Thumbnail for Dungeon Application">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <a href="https://youtu.be/NNSjbuYdvA0g" target="_blank" style="color: white;">C# Dungeon Application Video <br /> Click to view in youtube.</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->
                <div class="portfolio-item bootstrap wordpress col-xs-12 col-sm-4 col-md-3 single-work">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/thumbnails/storefront.png" alt="Storefront thumbnail image">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <a href="http://storefront.jacobroelofsz.com/" target="_blank" style="color: white;">StoreFront Application <br /> Click to open in new tab</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->
                <div class="portfolio-item joomla wordpress apps col-xs-12 col-sm-4 col-md-3 single-work">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/noimage.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <a href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->
                <div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-3 single-work">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/noimage.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <a href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->
                <div class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3 single-work">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/noimage.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <a href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->
                <div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-3 single-work">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/noimage.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <a class="preview" href="~/Content/images/portfolio/item-6.png" rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->
                <div class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3 single-work">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/noimage.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <a class="preview" href="~/Content/images/portfolio/item-2.png" rel="prettyPhoto"><</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->
            </div>
        </div>
    </div>
</section>

