
@{
    ViewBag.Title = "Portfolio";
}

<section id="portfolio">
    <div class="container">
        <div class="center">
            <h2>Portfolio Projects</h2>
        </div>

        <ul class="portfolio-filter text-center">
            <li><a class="btn btn-default active" href="#" data-filter="*">All Works</a></li>
        </ul>

        <div id="accordion">
            <h3>FED1 Studio Project</h3>
            <div>
                <div class="recent-work-inner">
                    <a href="http://wgaccounting.jacobroelofsz.com" target="_blank" style="color: white; float: right;">FED1StudioProject<br /><img class="img-responsive" src="~/Content/images/thumbnails/FED1StudioThumb.jpg" alt="Thumbnail for FED1StudioProject" style="300px;"></a>
                </div>
                <div class="row">
                    <h3>FED1 Studio Project</h3>
                    <br />
                    <p>
                        FED1 Studio Project is a application made soley with HTML and CSS. Built from scratch this project was meant to get us used to working off a wireframe. We were given a basic wireframe and requirements to be met. The design, photos, and themes are all our own choices.
                        <h4>Technologies Used</h4>
                        <ul>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>JavaScript</li>
                        </ul>
                        <br />
                        <a href="http://wgaccounting.jacobroelofsz.com" target="_blank" style="color: white;" class="btn btn-primary"><i class="fas fa-external-link-alt"></i> Open Project</a>
                    </p>

                </div>
                <div class="row">

                </div>
            </div>
            <h3>C# Dungeon Application</h3>
            <div>
                <div class="recent-work-inner">
                    <a href="https://youtu.be/NNSjbuYdvA0g" target="_blank" style="color: white; float: right;">FED1StudioProject<br /><img class="img-responsive" src="~/Content/images/thumbnails/dungeonThumbnail.png" alt="Thumbnail for Dungeon Application" style="width: 300px;"></a>
                </div>
                <div class="row">
                    <h3>C# Dungeon Application</h3>
                    <br />
                    <p>
                        This application is a simple C# Console App. This app has a randomly generated room and enemy that the player will face. The player can fight, run, and check stats. The characters gains EXP when killing a monster which can be used to heal themselves or increase their damage.
                        <h4>Technologies Used</h4>
                        <ul>
                            <li>C#</li>
                        </ul>
                        <br />
                        <a href="https://youtu.be/NNSjbuYdvA0g" target="_blank" style="color: white;" class="btn btn-primary"><i class="fas fa-external-link-alt"></i> Open Project</a>
                    </p>
                </div>
            </div>
            <h3>Storefront Application</h3>
            <div>
                <div class="recent-work-inner">
                    <a href="http://storefront.jacobroelofsz.com/" target="_blank" style="color: white; float: right;">FED1StudioProject<br /><img class="img-responsive" src="~/Content/images/thumbnails/storefront.png" alt="Storefront thumbnail image" style="width: 300px;"></a>
                </div>
                <div class="row">
                    <h3>Storefront Application</h3>
                    <br />
                    <p>This application is a 2-tiered MVC data-driven application. We created our own database with custom tables and custom properties to convey they idea of a storefront business. The user can explore products in the store, filter through the products and even add them to their cart. If the user is in the Admin role they have complete CRUD functionality</p>
                    <h4>Technologies Used</h4>
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>C#</li>
                        <li>MSSQL</li>
                        <li>CSHTML</li>
                        <li>AJAX</li>
                        <li>JavaScript</li>
                    </ul>
                    <br />
                    <a href="http://storefront.jacobroelofsz.com/" target="_blank" style="color: white;" class="btn btn-primary"><i class="fas fa-external-link-alt"></i> Open Project</a>
                </div>
            </div>
            <h3>React Todo Application</h3>
            <div>
                <div class="recent-work-inner">
                    <a href="http://react.jacobroelofsz.com/#/" target="_blank" style="color: white; float: right;">FED1StudioProject<br /><img class="img-responsive" src="~/Content/images/thumbnails/reactTodo.png" alt="React Todo thumbnail" style="width: 300px;"></a>
                </div>
                <div class="row">
                    <h3>React Todo Application</h3>
                    <br />
                    <p>This application is a React-based Todo application. The user can log in to the site, using GitHub, in order to access a database of todo items for them to complete. If the user is in a certain GitHub account, they have complete CRUD functionality.</p>
                    <h4>Technologies Used</h4>
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>ReactJS</li>
                        <li>JSON</li>
                        <li>Axios</li>
                    </ul>
                    <br />
                    <a href="http://react.jacobroelofsz.com/#/" target="_blank" style="color: white;" class="btn btn-primary"><i class="fas fa-external-link-alt"></i> Open Project</a>
                </div>
            </div>
            <h3>Todo Api</h3>
            <div>
                <div class="recent-work-inner">
                    <a href="http://api.jacobroelofsz.com/" target="_blank" style="color: white; float: right;">FED1StudioProject<br /><img class="img-responsive" src="~/Content/images/thumbnails/todoApi.png" alt="Todo Api Thumbnail" style="width: 300px;"></a>
                </div>
                <div class="row">
                    <h3>FED1 Studio Project</h3>
                    <br />
                    <p>
                        This API was created in order to recieve data from the React Todo Database and send it to the React Todo Application. This application has a data layer that has the properties of the database.
                        <h4>Technologies Used</h4>
                        <ul>
                            <li>C#</li>
                            <li>MSSQL</li>
                        </ul>
                        <br />
                        <a href="http://api.jacobroelofsz.com/" target="_blank" style="color: white;" class="btn btn-primary"><i class="fas fa-external-link-alt"></i> Open Project</a>
                    </p>
                </div>
            </div>
            <h3>SAT Application</h3>
            <div>
                <div class="recent-work-inner">
                    <a href="http://sat.jacobroelofsz.com" target="_blank" style="color: white; float: right;">FED1StudioProject<br /><img class="img-responsive" src="~/Content/images/thumbnails/SATThumbnail.png" alt="Todo Api Thumbnail" style="width: 300px;"></a>
                </div>
                <div class="row">
                    <h3>Scheduling Admin Tool </h3>
                    <br />
                    <p>
                        This application, developed by <a href="http://c-mitchell.com/" target="_blank" rel="noreferrer" style="text-decoration:underline;">Caleb Mitchell</a> and I, is a 2-tiered data-driven application. This site allows schedulers to look at enrollments, classes, and students. The schedulers have CRUD functionality for enrollments but are locked down to just edit for classes and only viewing for students. I was responsible for the database, template conversion, view customization, locking views down, implementing a tiled view on student statuses, and adding the datepicker.
                        <h4>Technologies Used</h4>
                        <ul>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>C#</li>
                            <li>MSSQL</li>
                            <li>CSHTML</li>
                            <li>jQuery</li>
                            <li>JavaScript</li>
                        </ul>
                        <br />
                        <a href="http://sat.jacobroelofsz.com" target="_blank" rel="noreferrer" style="color: white;" class="btn btn-primary"><i class="fas fa-external-link-alt"></i> Open Project</a>

                    </p>
                </div>
            </div>
            <h3>Ready Made Resins</h3>
            <div>
                <div class="recent-work-inner">
                    <a href="#" target="_blank" style="color: white; float: right;">Ready Made Resins Site<br /><img class="img-responsive" src="~/Content/images/thumbnails/RMR.png" alt="Ready Made Resins logo" style="width: 300px;" /></a>
                </div>
                <div class="row">
                    <h3>Ready Made Resins Real World Application</h3>
                    <br />
                    <p>
                        This application, developed by all of my teamates at Centriq Training during the 7.12.21 class, is a 2-tiered data-driven application that will be used by real world clients. Our team was tasked with expanding customer outreach by increase the web presence of Ready Made Resins in search engines. I was responsible for the Accessories view, Get a Quote, and a portion of the _Layout styling. I also implemented the template that is used on the site.
                        <h4>Technologies Used</h4>
                        <ul>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>C#</li>
                            <li>MSSQL</li>
                            <li>CSHTML</li>
                            <li>jQuery</li>
                            <li>JavaScript</li>
                        </ul>
                        <br />
                        <a href="http://readymaderesins.com" target="_blank" rel="noreferrer" style="color: white;" class="btn btn-primary"><i class="fas fa-external-link-alt"></i> Open Project</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</section>

@section scripts{
    <script>
        $(function () {
            $("#accordion").accordion();
        });
    </script>
}
